<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
 <h1>Homepage</h1>
    <h2>Here, you can view the work of graduated gucians!</h2>
    <a href="users/register">Register</a><br>
    <a href="users/login">Log in</a><br>
    <a href="users/portofolios">View summary of student portfolios</a><br>
  
    </body>

</html>




