<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
 <h1>Login</h1>
<form id = "myForm" action="" method="POST">
  <pre>
     Username         :  <input type="text"  name="username" >
     Password         :  <input type="password" name="password">

  </pre>
   <input type="submit" value="Insert"> 
   <input type="reset" value="Clear">
  </form>
  <%=error%>
    </body>

</html>