<!DOCTYPE html>
<html>
<head>
  <title>View summary</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
 <h1>View summary</h1>
    
   		<ul>
   		var x = null
		for(var i=0;i<output.length;i++)
		{
			var x = output[i].username
			for(var j=)

			if(output[i].length>1)
			{
				<li><%= output[i].title %>: &nbsp;&nbsp; <%= output[i].URL %></li>
				<li><%= output[i].title %>: &nbsp;&nbsp; <%= output[i].URL %></li>
			}

			
		}

		</ul> 
    
  
    </body>

</html>




