<html>
<head>
	<title>upload</title>

	</head>
	<body>

	<form id = "myForm" action="/users/upload" method="POST">
  <pre>
     URL 			:  <input type="text"  name="url" >  
   	 Title 			:  <input type="text"  name="title" >  
    
  </pre>
   <input type="submit" value="Upload"> 
  </form>
	

	</body>
</html>

